@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles.css or any other CSS file */
.custom-gradient {
  @apply bg-custom-gradient;
}


/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background: #242121;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #313030;
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #131212;
  }